name: Deploy docs

on: 
  push:
    branches:
      - main

jobs: 
  build-and-deploy: 
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup node.js
        uses: actions/setup-node@v3
        with: 
          node-version: 16

      - run: npm ci
      - run: npm run build

      - name: Deploy Storybook
        working-directory: ./apps/docs
        run: npm run deploy-storybook -- --ci --existing-output-dir=storybook-static
        env:
          GH_TOKEN: ${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}

